[Desktop Entry]
Name=Linux Menu
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=linux
Exec=cosmic-applet-linux-menu %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
