[Desktop Entry]
Name=Hello Linux
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=com.github.yohanespradono.HelloCosmicLinux
Exec=hello-linux %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
